apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react
          image: ayeshlaksha35/react-frontend:latest  # Jenkins will replace this dynamically
          ports:
            - containerPort: 80
